thead > tr > th > div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1vw;
    padding-block: 1vh;
}

thead > tr > th > div > p{
    font-size: calc( ( 1vh + 1vw ) * (1.5 / 2));
    margin-inline: 5px;
}